body{
    font-family: 'Times New Roman', Times, serif;
}
#home{
    background: url("/assets/images/backgrounds/h_img.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 60px 40px;
    width: 100%;
    height:auto;
    color: #fff;
}
.info{
    margin-top: 5%;
    font-weight: bold;
}
.info p{
    font-size: 10px;
    color: #fff;
}
.icon_click{
    margin-top: 15%;

}
/* Style About Container */
#about{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 20px;
}
.about_us, h2, p{
    color: #000;
}
/* Style Services container  */
#services{
    background: url("/assets/images/backgrounds/s_image.jpg")no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;

}
#services h3, .p{
    color: #fff;
}
#What_We_do{
    margin-top: 0px;
    text-align: center;
    padding: 20px;
}
#WhatWe_do, h3{
    margin-top: 20px;
}
.desc-1,.desc-2,.desc-3{
    display: none;
    font-size: 12px;
}
.desc-1 h5,.desc-2 h5,.desc-3 h5{
    font-weight: bold;
    font-size: 12px;
}